<nav class="navbar">
    <div class="logo">CafeName</div>
  
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/orders">Orders</a></li>
      <li><a routerLink="/gallery">Gallery</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/contact us">Contact</a></li>
    </ul>
  
    <button class="login-btn" routerLink="/login">Login</button>
  </nav>
  